* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #111;
  color: white;
  font-family: 'Poppins', sans-serif; 
}
.navbar { 
    display: flex; 
    align-items: center; 
    justify-content: space-between;  
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #000; 
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
} 
.logo { 
  padding: 0 5rem; 
} 
.logo .logo-heading { 
  color: #fff; 
} 
.menu { 
  padding: 0 5rem; 
} 
.menu .menu-list { 
  display: flex; 
  list-style: none;
} 

.menu-list .menu-list-items { 
  padding: 0.5rem 1rem; 
  text-decoration: none; 
} 
h1 {
  font-size: 35px;
  margin-bottom: 10px;
  margin-left: 400px;
  margin-top: 200px;
}
 h5{
  font-size: 18px;
  color: #ccc;
  margin-left: 460px;
}
.hero-image img {
  max-height: 90vh;
  object-fit: cover;
  filter: grayscale(100%);
  margin-left: 800px;
  height: 250px;
  margin-top: -230px; 
}
.icon{
  margin-left:480px;
  padding: 10px;
}
.about{
  height: 400px;
  width: 1000px;
  margin-left: 200px;
  letter-spacing: 2px;
  text-align: justify;  
}
.services-content{
  height: 450px;
}
.my-row { 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin-left:100px ;
  margin-right: 100px;
} 
.my-row .my-col { 
    text-align: center; 
    width: 30%; 
} 
.my-card { 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    border-radius: 20px; 
    padding: 1rem; 
} 
.works{
  height: 500px;
}
.footer { 
    background-color: #000; 
    color: #fff; 
    padding: 2rem; 
} 
.footer-list-items { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 50px; 
    width: 50px; 
    margin: 1rem 1rem 0 1rem; 
    border-radius: 50%; 
    background-color: #53C8B6; 
} 
.footer-links { 
    font-size: 24px; 
    color: #fff; 
    text-decoration: none; 
} 

.social-links { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
h4{
  text-align: center;
}
.footer-menu { 
    padding: 0 5rem; 
} 
.footer-menu .footer-menu-list { 
    display: flex; 
    list-style: none; 
} 
html {
  scroll-behavior: smooth;
}
#home {
  scroll-margin-top: 160px; 
}
#service{
  scroll-margin-top: 270px;
}
#works{
  scroll-margin-top: 230px;
}
#contact{
  scroll-margin-top: 380px;
}
@media only screen and (max-width:600px){
    h1{
        margin-left: 50px;
    }
    .hero-image img {
        max-height: 90vh;
        object-fit: cover;
        filter: grayscale(100%);
        margin-left: 340px;  
    }
    h5{
       margin-left: 120px; 
    }
    .text{
        margin-top: 80px;
    }
    .icon{
        margin-left: 150px;
    }
    .about{
        width: 530px;
        margin-left: 40px;
    }
    .my-row { 
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        flex-direction: column; 
        margin: 2rem 0; 
        gap: 1rem; 
    } 
    .my-row .my-col { 
        text-align: center; 
        width: 100%; 
    } 
    .services-content{
        height: 540px;
    }
   .works{
    height: 760px;
   }
   #home {
    scroll-margin-top: 160px; 
    }
    #service{
      scroll-margin-top: 100px;
    }
    #works{
      scroll-margin-top: 20px;
    }
    #contact{
      scroll-margin-top: 300px;
    }

}
    

